.nav-primary {
	background-color: var(--background-color-8);
}

.nav-primary .genesis-nav-menu {
	text-align: right;
	margin-top: 14px;
}

.nav-primary .genesis-nav-menu a,
.nav-secondary .genesis-nav-menu a {
	color: var(--color-6);
	background-color: var(--background-color-8);
	letter-spacing: 0.5px;
	/*font-weight: 700;*/
	transition: background-color 0.25s ease-in-out;
	-moz-transition: background-color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
}

.nav-primary .genesis-nav-menu li {
	float: none;
	font-family: var(--font-family-3);
	font-weight: normal;
	text-transform: uppercase;
	font-size: 17px;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: var(--color-10);
	text-decoration: none;
	background-color: var(--color-6);
}
