.nav-secondary {
	background-color: var(--color-secondary);
	z-index: 9;
	position: relative;
}

.nav-secondary .genesis-nav-menu a:hover,
.nav-secondary .genesis-nav-menu .current-menu-item > a,
.nav-secondary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: var(--color-background-white);
	text-decoration: none;
	background-color: var(--background-color-12);
}

.nav-secondary i {
	font-size: 23px;
	position: relative;
	bottom: -2px;
}
