



/* .genesis-nav-menu .sub-menu a {
	background-color: var(--color-background-white);
	border: 1px solid #eee;
	border-top: none;
	font-size: 14px;
	padding: 20px;
	position: relative;
	width: 200px;
} */


/*
@media screen and (min-width: 1201px) {
	.genesis-nav-menu .menu-item {
		position: relative !important;
	}
	.genesis-nav-menu .menu-item:last-child:hover > .sub-menu {
		right: 0;
	}
	.genesis-nav-menu .menu-item:last-child .sub-menu:before {
		left: auto;
		right: 13%;
	}
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: var(--color-background-white);
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* sub menu styles */

/*
.genesis-nav-menu .sub-menu {
	background-color: var(--background-color-1);
}

@media only screen and (min-width: var(--breakpoint-medium)) {
	.genesis-nav-menu .sub-menu {
		background-color: var(--color-background-white);
		border-radius: 4px;
		border-top: 3px solid var(--color-primary);
		border-bottom: 3px solid var(--color-primary);
	}
	.genesis-nav-menu .sub-menu:before {
		top: -22px;
		left: 13%;
		border: solid var(--background-color-8);
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: var(--border-color-1);
		border-bottom-color: var(--color-primary);
		border-width: 10px;
		margin-left: -10px;
	}
}

.nav-primary .genesis-nav-menu .sub-menu a {
	border-width: 0;
} */
