.site-footer {
	background-color: $background_color_1;
	border-top: 1px solid $color_18;
	font-size: 15px;
	line-height: 1.5;
	padding: 30px;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}
