.sidebar {
	font-size: 16px;
}

.sidebar li {
	border-bottom: 1px dotted var(--color-11);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget,
.fl-module-sidebar .widget {
	background-color: var(--color-background-white);
	margin-bottom: 50px;
	/*padding: 40px;*/
}

div .fl-post-feed-post {
	border-bottom-width: 2px;
}

@media only screen and (max-width: 960px) {
	.sidebar-primary,
	.sidebar-secondary {
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	.sidebar .widget {
		padding: 0;
	}
	.sidebar .widget.enews-widget {
		padding: 40px;
	}
	.sidebar-primary {
		padding: 0;
	}
}
