.login-bar {
	display: none;
}

.login-bar {
	background-color: var(--color-6);
}

.login-bar #loginform {
	display: inline-block;
	float: left;
	padding: 20px 0;
	position: relative;
}

.login-bar #loginform p {
	width: 20%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin: 0;
}

#loginform p.login-remember {
	clear: left;
	width: 40%;
	padding: 20px !important;
	color: var(--color-background-white);
}

#loginform .login-username label,
#loginform .login-password label {
	opacity: 0;
}

.login-bar #loginform .login-username,
.login-bar #loginform .login-password,
#loginform .login-remember {
	width: 40%;
}

.login-bar #loginform #user_login,
.login-bar #loginform #user_pass {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	border: 5px solid var(--background-color-5);
}

.login-bar h2 {
	display: inline-block;
	float: left;
	padding-top: 60px;
	color: var(--color-background-white);
	margin-right: 20px;
}

.login-bar .close {
	color: var(--color-background-white);
	margin: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 1;
	border: 1px solid var(--color-background-white);
	width: 27px;
	height: 27px;
	line-height: 24px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}

.login-bar #loginform .login-submit {
	/*margin-top:28px;*/
	/*float: right;*/
	position: absolute;
	top: 49px;
	right: 0;
}

.login-bar .close span:first-child {
	position: relative;
	top: -2px;
	left: 1px;
}

.login-bar #loginform + div.register {
	color: var(--color-background-white);
	padding-top: 49px;
	display: inline-block;
}

.login-bar #loginform + div.register a:hover {
	text-decoration: none;
}

.login-bar div.lost_password {
	display: block;
	text-align: center;
	width: 100%;
	margin: 10px 0;
	clear: both;
}

.login-bar div.lost_password a {
	color: var(--color-background-white);
}

@media screen and (min-width: 961px) and (max-width: 1500px) {
	.login-bar div.lost_password {
		position: absolute;
		margin: 16px 0;
		left: 630px;
		width: auto;
	}
}

@media only screen and (max-width: 959px) {
	#loginform p {
		position: relative;
	}
}

@media only screen and (min-width: 961px) and (max-width: var(--site-width)) {
	.login-bar #loginform {
		width: 60%;
		margin-right: 7px;
	}
}

@media only screen and (max-width: 960px) {
	.login-bar #loginform,
	.login-bar h3 {
		display: block;
		float: none;
	}

	.login-bar #loginform {
		padding-top: 0;
		display: block;
	}

	.login-bar #loginform .login-submit {
		/*margin-top:10px;*/
	}

	.login-bar h3 {
		padding-top: 10px;
	}

	.login-bar #loginform p {
		width: 100%;
		float: none;
		padding: 0;
	}

	.login-bar #loginform .login-username,
	.login-bar #loginform .login-password {
		width: 100%;
	}

	.login-bar #loginform + div.register {
		padding: 0;
		clear: left;
	}

	.login-bar #loginform .login-submit {
		position: relative;
		display: block;
		top: 0;
	}

	.login-bar .wrap {
		position: relative;
	}

	.login-bar .close {
		right: 0;
	}
}

@media only screen and (max-width: 800px) {
	.login-bar .close {
		right: 5%;
	}
}
