.entry-header .avatar {
	display: none;
}
.entry-title {
	font-size: 32px;
}

.content .entry {
	background-color: var(--color-background-white);
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 18px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: var(--color-4);
	color: var(--color-11);
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 15px;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 12px;
}

.entry-header .avatar {
	margin-right: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

.entry-footer .entry-meta {
	border-top: 2px solid var(--background-color-1);
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.single-post .entry-header,
.page .entry-header {
	margin: 20px 0;
}

.sidebar .entry-header {
	margin: 0;
}

.author-box {
	padding: 30px;
}
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 100%;
}

@media only screen and (--breakpoint-small) {
	.entry:not(.wp-block-post) {
		margin-bottom: 40px;
		padding: 50px 60px;
	}
}
