#home-page-slider {
	display: grid;
	grid-template: "slide-container";

	& > * {
		grid-area: slide-container;
	}
	--transition-duration: 500ms;

	.fade-in {
		opacity: 1;
		visibility: visible;
		transition: opacity var(--transition-duration) ease-in, visibility 0ms ease-in 0ms;
	}

	.fade-out {
		opacity: 0.1;
		visibility: hidden;
		transition: opacity var(--transition-duration) ease-in, visibility 0ms ease-in var(--transition-duration);
	}


	.slider-slide {
		display: grid;
		grid-template: "container";
		place-items: center;
		place-content: center;
		overflow: hidden;
		max-height: clamp(450px, 50vh, 500px);
		font-family: $font_family_1;
		
		
		& > * {
			grid-area: container;
		}
		
		.slider-message {
			color: white;
			font-size: 3rem;
			text-align: center;
		
		}

		.slider-image {
			width: 100vw;
			height: auto;
			object-fit: cover;
			filter: brightness(0.75);
			z-index: -1;
		}

	}
}