$color_1: #65615e; // Not sure this is used anywhere
$color_2: #fff;
$color_3: #2facd9; // custom
$color_4: #333;
$color_5: #3c3632;
$color_6: #918b87;
$color_7: #9cbe30;
$color_8: #90c74a;
$color_9: #7a9c0f;
$color_10: #f8f7f3;
$color_11: #ddd;
$color_12: #999;
$color_13: #b5b5b5;
$color_14: #585858;
$color_15: #111;
$color_16: #373737;
$color_17: #111111;
$color_18: #eeeeee;

$font_family_1: "Helvetica", sans-serif;
$font_family_2: "texgyreadventorbold", sans-serif;
$font_family_3: "texgyreadventorregular", sans-serif;
$font_family_4: "Playfair Display", serif;
$font_family_5: "Helvetica", sans-serif;
$font_family_6: "fontello";

$background_color_1: #f5f5f5;
$background_color_2: #23a0bd;
$background_color_5: #e3670c;
$background_color_7: #c45d09;
$background_color_8: transparent;
$background_color_9: rgba(0, 0, 0, 0.45);
$background_color_10: rgba(0, 0, 0, 1);
$background_color_12: #188bb4;
$background_color_13: #b54d02;
$background_color_14: #3ba9cf;
$background_color_15: #2398c0;
$background_color_18: #946ba5;
$background_color_19: #64486f;
$background_color_20: #b8e576;
$background_color_21: #c9c9c9;
$background_color_23: #d5d5d5;
$background_color_24: #f3cf3f;
$background_color_25: rgba(255, 255, 255, 0.8);
$border_color_1: rgba(213, 213, 213, 0);
