.page-id-52500 .entry-header,
.page-id-52500 .essb_links {
	display: none;
}

span {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.alignleft.extra-right {
	margin-right: 40px;
}

.socialmedia-buttons img {
	max-width: 24px;
}

.textwidget {
	clear: both;
	overflow: auto;
}

@media only screen and (max-width: 800px) {
	body {
		background-color: var(--color-background-white);
		font-size: 16px;
	}
}

@media only screen and (max-width: 480px) {
	a.alignright,
	img.alignright,
	.wp-caption.alignright,
	a.alignleft,
	img.alignleft,
	.wp-caption.alignleft {
		max-width: 40%;
	}

	.linkwithin_inner {
		max-width: 100%;
	}

	.linkwithin_posts > a {
		width: 33%;
		box-sizing: border-box;
	}

	.linkwithin_posts > a .linkwithin_img_0 > div,
	.linkwithin_posts > a > div {
		width: 100% !important;
	}

	p {
		margin: 0 0 18px;
	}
}
