h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color_5;
	font-family: $font_family_1;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
	padding-top: 15px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	padding-top: 0;
}

h2 {
	font-size: 32px;
  color: $color_6;
  text-transform: uppercase;
  font-family: $font_family_3;
}

h3 {
	font-size: 24px;
	font-style: normal;
  color: $color_1;
}

h4 {
	// font-size: 20px;
	font-size: 58px;
  font-family: $font_family_4;
  letter-spacing: 2px;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}