.page-id-52500 .entry-header,
.page-id-52500 .essb_links {
  display: none;
}

span {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.socialmedia-buttons img {
  max-width:24px;
}

.textwidget {
  clear:both;
  overflow:auto;
}