body .fl-builder-content a.fl-button {
  font-family: $font_family_3;
  font-size: 20px !important;
  padding: 16px 24px !important;
  font-weight: normal !important;
  letter-spacing: 1px;
  border-width: 0 !important;
  border-bottom: 3px solid $background_color_7 !important;
}
.uppercase {
  text-transform: uppercase !important;
}