
/* Standard Navigation
--------------------------------------------- */

nav {
  clear: both;
}

/* Navigation toggles
--------------------------------------------- */

.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden;
}

/* Navigation toggles - Ensure Menu Displays when Scaled Up
--------------------------------------------- */

@media only screen and (min-width: 960px) {

  nav {
    display: block !important;
  }
}

/* Navigation toggles - Mobile (Change max width as you see fit)
--------------------------------------------- */

