.nav-primary {
  background-color: $background_color_8;
}
.nav-primary .genesis-nav-menu {
  text-align: right;
  margin-top: 14px;
}
.nav-primary .genesis-nav-menu a, .nav-secondary .genesis-nav-menu a {
  color: $color_6;
  background-color:$background_color_8;
  letter-spacing: .5px;
  //font-weight: 700;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
}
.nav-primary .genesis-nav-menu li {
  float: none;
  font-family: $font_family_3;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: $color_10;
  text-decoration:none;
  background-color:$color_6;
}