<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    stopOnError="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true"
    >

    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
        <const name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <const name="WP_CORE_DIR" value="/tmp/wordpress"/>
        <const name="WP_TESTS_DOMAIN" value="example.org"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <const name="WP_TESTS_TITLE" value="Test Blog"/>
        <const name="WP_TESTS_URL" value="http://example.org"/>
        <const name="WP_TESTS_TABLE_PREFIX" value="wptests_"/>
        <const name="WP_DEBUG" value="true"/>
        <const name="WP_DEBUG_LOG" value="true"/>
        <const name="WP_DEBUG_DISPLAY" value="false"/>
        <const name="SCRIPT_DEBUG" value="true"/>
        <const name="WP_HTTP_BLOCK_EXTERNAL" value="true"/>
        <const name="WP_ACCESSIBLE_HOSTS" value="api.wordpress.org,*.wordpress.org,*.github.com"/>
        <env name="TEST_DB_NAME" value="wordpress_tests"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASSWORD" value="password"/>
        <env name="TEST_DB_HOST" value="db"/>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>

    <!-- Test Suites -->
    <testsuites>
        <testsuite name="Theme Test Suite">
            <file>./tests/test-sample.php</file>
            <file>./tests/test-ThemeBootstrap.php</file>
            <file>./tests/test-NavCustomizations.php</file>
            <file>./tests/test-PostDisplay.php</file>
            <file>./tests/test-HomepageWidgets.php</file>
            <file>./tests/test-SiteChrome.php</file>
            <file>./tests/test-SharingControls.php</file>
            <file>./tests/test-MyPrograms.php</file>
        </testsuite>
    </testsuites>

    <!-- Code Coverage Configuration -->
    <coverage>
        <include>
            <directory suffix=".php">inc</directory>
            <file>functions.php</file>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>node_modules</directory>
            <directory>dist</directory>
            <directory>src</directory>
            <file>composer.json</file>
            <file>composer.lock</file>
            <file>package.json</file>
            <file>package-lock.json</file>
        </exclude>
        <report>
            <!-- HTML Coverage Report -->
            <html outputDirectory="../coverage/html" lowUpperBound="50" highLowerBound="80"/>
            
            <!-- Clover XML Report for CI/CD -->
            <clover outputFile="../coverage/clover.xml"/>
            
            <!-- Cobertura XML Report -->
            <cobertura outputFile="../coverage/cobertura.xml"/>
            
            <!-- Text Coverage Report -->
            <text outputFile="../coverage/coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
            
            <!-- PHP Coverage Report -->
            <php outputFile="../coverage/coverage.php"/>
        </report>
    </coverage>

    <!-- Logging Configuration -->
    <logging>
        <!-- JUnit XML for CI/CD -->
        <junit outputFile="../test-reports/junit.xml"/>
        
        <!-- TestDox Text Output -->
        <testdoxText outputFile="../test-reports/testdox.txt"/>
        
        <!-- TestDox HTML Output -->
        <testdoxHtml outputFile="../test-reports/testdox.html"/>
        
        <!-- TeamCity Output -->
        <teamcity outputFile="../test-reports/teamcity.txt"/>
    </logging>


</phpunit>
